{% extends 'base.html.twig' %}

{% block title %}Connexion au site{% endblock %}

{% block body %}
<div id="background-show">
    <div class="container">
        <div class="row justify-content-center py-4">
            <div class="col-6">
                <div class="bg-light content-box p-4">
                    <h1>Connexion au site</h1>
                    {% if hasError %}
                        <div class="alert alert-danger">Le nom d'utilisateur ou le mot de passe est incorrect !</div>
                    {% endif %}
                    {% for label, messages in app.flashes %}
                        <div class="alert alert-{{ label }}">
                            {% for message in messages %}
                            <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %} 
                    
                    <form action="{{ path('account_login') }}" method="post" class="mt-4">
                        <div class="form-group">
                            <label for="login">Login</label>
                            <input type="text" name="_username" id="login" class="form-control" placeholder="Votre login ..." required value="{{ loginName }}">
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe</label>
                            <input type="password" name="_password" id="password" class="form-control" placeholder="Votre mot de passe ..." required>
                        </div>
                        <div class="form-group text-center mt-5">
                            <button type="submit" class="btn btn-success" >Connexion !</button>
                        </div>
                    </form>
                    <p class="text-center"><a href="#">mot de passe oublié ?</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
