{% extends 'base.html.twig' %}

{% block title %}SnowTricks - Inscription{% endblock %}

{% block body %}
<div id="background-show">
    <div class="container content-box bg-light p-4 mt-4">
        <h1 class="text-center mb-3 my-4">Inscription</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="g-recaptcha my-3" data-sitekey="6LfXKNYUAAAAAOn2xNenfNVoamnHFLstaePqoSkq"></div>
        <br />
        <button type="submit" class="btn btn-success">Valider !</button>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script>
    $(document).on('change', '.custom-file-input', function () {
        let fileName = $(this).val().replace(/\\/g, '/').replace(/.*\//, '');
        $(this).parent('.custom-file').find('.custom-file-label').text(fileName);
    });
</script>
{% endblock %}