.bottom-nav {
    display: none;
}

.jumbotron-home {
    background-image: url('../images/head_snow.jpg');
    background-size: cover;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
    height: 100vh;
}

.jumbotron-home h1, .jumbotron-home a {
    font-weight: 600;
    color: white;
}

.jumbotron-home a {
    color: white;
    font-size: 1.2em;
    text-decoration: none;
}

.jumbotron-show {
    background-size: cover;
    height: 600px;
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.card-class {
    margin-top: 100px;
    margin-bottom: 100px;
}

#background-show {
    background-image: url('../images/head_snow.jpg');
    background-size: 100% 600px;
    background-repeat: no-repeat;
    background-position: top;
    padding-top: 100px;
}

.video-import iframe {
    height: 200px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
 }

.carousel-item {
    height: 70vh;
 }
 
.carousel-item iframe {
    height: 100%;
    width: 100%;
 }

#carousel-show {
    margin: -15px !important;
 }

.content-box {
    box-shadow: 3px 3px 30px;
    padding: 15px;
    background-color: white;
 }

.card-body a {
    color: grey;
 }

.flash-message {
    text-shadow: none;
    font-weight: 600;
    font-size: 1.2em;
 }
.icons-style {
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.icons-edit {
    position: absolute;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid lightgray;
    border-radius: 5px;
 }

.icons-edit a:hover, .icons-style a:hover {
    text-decoration: none;
}

.icons-imageMain {
    right: 10px;
    top: 10px;
    z-index: 1 !important;
}

.icons-vignet {
    right: 20px;
    bottom: 10px;
}

.image-thumbnail {
    display: block;
    height: 200px;
    width: 100%;
    box-shadow: 5px 5px 5px grey;
}

.arrow-nav {
    overflow: hidden;
    z-index: 999;
    right: 20px;
    bottom: 20px;
    background-color: rgba(230,230,230,0.7);
}

#to-list {
    position: absolute;
}

#to-top {
    position: fixed;
    display: none;
}

#switch-medias {
    display: none;
}

#switch-edit-medias {
    display: none;
}

.mask-youtube {
  position: absolute;
  background: rgba(0,0,0,0);
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 100;
}
.avatar-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}

@media screen and (max-width: 1280px) {

    .content-box {
        box-shadow: none;
        padding: 15px;
        background-color: white;
    }

    #background-show {
        padding-top: 0;
        background-image: none;
    }
}

@media screen and (max-width: 768px) {
    .carousel-item {
        height: 40vh;
    }

    .main-nav {
        display: none;
    }

    .bottom-nav {
        display: initial;
    }

    .arrow-nav {
        bottom: 60px !important;
    }

    #medias {
        display: none;
    }
    #switch-medias {
        display: initial;
    }

    #edit-medias {
        display: none;
    }

    #switch-edit-medias {
        display: initial;
    }
}