{% extends 'base.html.twig' %}

{% block title%}SnowTricks - Ajouter un trick{% endblock %}

{# Form theme definition in an special template file #}
{% form_theme form 'trick/_collection.html.twig' %}

{% block body %}
<div id="background-show">
    <div class="container content-box bg-light p-4 mt-4">
        <h1 class="text-center mb-3 my-4">Ajouter un trick</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <div class="text-center">
            <button type="submit" class="btn btn-success">Ajouter le trick !</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}


{% block javascripts %}
{# Javascripts of the form in the trick.js file #}
<script src="/js/trick.js"></script>
{% endblock %}