<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <p>Bonjour {{ user.loginName }} !<br>
        Vous avez demandé à réinitialiser le mot de passe de votre compte SnowTricks! <br />
        Pour procéder à la modification du mot de passe, cliquez sur le lien suivant : </p>
        <p><a href="https://127.0.0.1:8000/reset/{{ user.id }}/{{ user.token }}">Modification du mot de passe</a> <br /></p>
        <p>Pour tout problème avec votre compte, veuillez contacter un administrateur à l\'adresse suivante: <a href="mailto:contact@alexandremanteaux.fr">contact@alexandremanteaux.fr</a> </p>
    </body>
</html>